<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{app.appName}}</title>
        {% include 'base/css.html' %}
    </head>
    <body>
        <br>
        <a href="/admin/" class="btn btn-primary">返回</a><br>
        <p>应用名：{{app.appName}}</p>
        <p>应用key：{{app.appKey}}</p>

        <form action="/admin/addToken/{{app.id}}" method="post">
            <input type="text" name="token" maxlength="32" placeholder="请输入应用token" required>
            <input type="datetime-local" name="ableTime" required>
            <input type="submit" value="添加应用token" class="btn btn-primary">
        </form>

        <hr>

        {% for tokenObj in appTokens %}
        <ul class="list-group">
            <li class="list-group-item list-group-item-success">
                应用token：{{tokenObj.token}}<br><br>
                失效时间：{{tokenObj.ableTime| date:"Y年m月d日 H时i分s秒"}}<br><br>
                <a href="/admin/deleteToken/{{app.id}}/{{tokenObj.id}}" class="btn btn-primary">删除</a>
            </li>
        </ul>
        {% endfor %}
        {% include 'base/js.html' %}
    </body>
</html>