<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>应用管理</title>
        {% include 'base/css.html' %}
    </head>
    <body>

        <h1 align="center">应用管理</h1>
        <hr>
            <form action="addApp" method="post">
                <input type="text" name="appName" required placeholder="应用名称">
                <input type="submit" class="btn btn-info" value="添加应用">
            </form>
        <hr>

        {% for obj in apps %}

            <ul class="list-group">
                <li class="list-group-item list-group-item-success">
                    应用名：{{obj.appName}}<br><br>
                    <a href="/admin/detail/{{obj.id}}">查看</a>
                    <a href="/admin/deleteApp/{{obj.id}}">删除</a>
                </li>
            </ul>

        {% endfor %}
        {% include 'base/js.html' %}
    </body>
</html>